twitter:
  consumer_key: "key"
  consumer_secret: "secret"
  oauth_token: "token"
  oauth_token_secret: "secret"
greader:
  email: "password"
  password: "secret"
mongoid:
  production:
    host: localhost
    database: star
  development:
    host: localhost
    database: star-devel
  test:
    host: localhost
    database: star-test
