#star-content.row
  %section.span5.about
    %h3 Star
    %p Sinatra app to view you favorites from the main hubs of the web: Twitter, GReader, Gmail.
    %p More to come!!!

- content_for :javascript do
  :javascript
    jQuery(function() {
      StarReader.init(#{@stars.to_json}, "#{@section}", "#{@start_page}", "#{@end_page}")
    });
