!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title
      = @page_title
    %link{ :href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,800", :rel => "stylesheet" }
    %link{ :href => "/stylesheets/bootstrap.css", :rel => "stylesheet" }
    %link{ :href => "/stylesheets/star.css", :rel => "stylesheet" }
  %body
    %div.container
      %div.content
        %div.page-header
          %h1
            = @user.username
        = yield

      %footer
    %script{ :src => "/javascripts/jquery.min.js" }
    %script{ :src => "/javascripts/underscore-min.js" }
    %script{ :src => "/javascripts/backbone-min.js" }
    %script{ :src => "/javascripts/jst.js" }
    %script{ :src => "/javascripts/star-reader.js" }
    %script{ :src => "/javascripts/star-reader/models.js" }
    %script{ :src => "/javascripts/star-reader/collections.js" }
    %script{ :src => "/javascripts/star-reader/views.js" }
    %script{ :src => "/javascripts/star-reader/routers.js" }
    = content :javascript
