
html, body {
  background-color: #eee;
}

body {
  padding-top: 40px;
  font-family: 'Open Sans';

    .page-header {
      background-color: #f5f5f5;
      padding: 20px 20px 10px;
      margin: -20px -20px 0px;
    }

      /* The white background content wrapper */
    .content {
      background-color: #fff;
      padding: 20px;
      margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
      box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }
}

.star-item {
  border-bottom:  1px solid #EBEBEB;
  border-top: 1px solid transparent;
  padding: 10px 20px;
  font-size: 15px;

  .star-actions {
    visibility: hidden;
  }

  &:hover {
    background: rgba(0,80,128,0.2);
    border-top: 1px solid #005080;
    border-bottom: 1px solid #005080;

    .star-content .star-source a {
      color: #0069D6;
    }

    .star-actions {
      visibility: visible;
    }
  }

  .star-image {
    float: left;
    height: 48px;
  }

  .star-content {
    margin-left: 68px;
    min-height: 60px;

    .star-source {
      font-weight: bold;
      margin-bottom: 4px;

      a {
        color: #404040;
      }
    }

    .star-text {
      line-height: 19px;
      margin-bottom: 5px;
    }

    .star-timestamp {
      font-size: 12px;
      line-height: 16px;
      color: #999;
    }
      
    .star-actions {
      font-size: 12px;
      line-height: 12px;
      margin-left: 20px;

      .star-action a span img {
        vertical-align: bottom;
      }
    }
  }
}

.span11{
  margin: 0;
}

.span5{
  width: 300px;
}
